.app-wrapper {
  display: grid;

  grid-template-areas: "header header"
                        "content content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

  background-color: #171417;
  color: whitesmoke;
  min-height: 100vh;
}
.container {
  width: 1160px;
  margin: 0 auto;
}
.header {
  grid-area: header;
  background-color: #000000;
}

nav {
  display: flex;
  margin: 0 80px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  line-height: 60px;
}

nav a {
  color: whitesmoke;
  text-decoration-line: none;
}

nav a:hover {
  color: aqua;
}


.content {
  display: flex;
  margin: 0 auto;
  grid-area: content;
}

.content .container {
  display: flex;
  width: 1160px;
  border: #191819 1px solid;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px 30px 0 30px;
}

.name-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*background-color: blueviolet;*/
  margin-bottom: 50px;
}
.avatar {
  width: 150px;
  height: 150px;
  margin-right: 105px;
  margin-left: 105px;
  /*background-color: cyan;*/
}

.avatar img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: aqua 5px solid;
  object-fit: cover;
}

.fullname {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 30px;
  justify-content: center;
  /*background-color: blue;*/
}


.name {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 0;
}

.status {
  font-size: 14px;
}

/*Информация_Блок*/
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.info_box {
  display: flex;
  flex-direction: column;
  width: 345px;
  height: 250px;
  background-color: #191819;
  box-sizing: border-box;
  /*border: black 2px solid;*/
}

#main-info {
  width: 695px;

}

#main-info .info_element__key {
  width: 230px;
}
.info_title {
  display: flex;
  background-color: black;
  line-height: 35px;
  justify-content: center;
}

.info_list {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.info_element {
  display: flex;
  flex-direction: row;
}
.info_element__key {
  width: 130px;
  text-align: right;
  padding-right: 20px;
  margin-bottom: 10px;

}
.info_element__value {
  margin-bottom: 10px;
}






